obj
bin
deploy
deploy/*
.vs/*
Release/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
connections.config
Connections.config
~$*
*.user
*.ReSharper
localSettings.config
Debug
Debug/*
Log
*/Carefree/v15/Server/sqlite3/storage.*
